img {
    width: 30%;
     float: left;
     margin: 1.66%
}

p {
    font-family: Raleway;
    margin-left: 1.66%;
    font-size: 23px;
    border-bottom: 3px solid lightgray;
    width: 30%;
    padding-bottom: 25px;
}
